 # Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# SQLite databases
*.db

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

